.App {
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App-logo {
	box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
	border-radius: 50%;
  animation: App-logo-vibrate infinite 1.25s  cubic-bezier(0.66, 0, 0, 1);
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-vibrate {
	to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}
}
