.react-autosuggest__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	width: 100%;
}

.react-autosuggest__input {
  width: 90%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0px;
  background: black;
  color: white;
  border-radius: 4px;
  -webkit-appearance: none;
	padding: 10px 20px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0px;
  border-radius: 0, 4px, 0, 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
  color: black;
}
