@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color: black;

	margin: 0;

	padding: 0;

	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
