.ProducePage {
	padding-top: 4em;
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ProducePageHeader {
	background-color: #222;
	padding: 20px;
	color: white;
}

.FarmerListHeader {
	text-align: left;
	color: white;
	font-weight: lighter;
	font-size: 1.44em;
	margin-left: 0.63em;
}
