.ProduceItem {
  width: 100%;
	/*max-width: 450px;*/
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
	margin-top: 1px;
}

.ProduceContainer {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.ProduceIconContainer {
	background: gray;
	border-radius: 100%;
	width: 63px;
	height: 63px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ProduceIcon {
	width: 81%;
	height: 81%;
	background: white;
	border: 3px solid lightgray;
	border-radius: 100%;
}

.ProduceNameContainer {
	margin-left: 0.5em;
}

.ProduceName {
  color: white;
  font-weight: 100;
	font-size: 1.35em;
	text-align: left;
}

.FarmerCount {
	color: gray;
}

.ProducePrice {
  margin-right: 1em;
  color: black;
  background: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 36px;
  border-radius: 4.5px;
  font-size: 1.35em;
}
